
<!DOCTYPE html>
<html lang="{{page.lang.code}}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="color-scheme" content="light dark">
    <meta name="description" content="{{ page.description }}">
    <title>{% block title %} {{page.title}} | {{site.name}} {% endblock %}</title>
    <link rel="shortcut icon" href="/images/favicon.png" type="image/png">
    {% if site.code_highlight.enabled %}
    <link href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.11.1/styles/a11y-dark.min.css" media="(prefers-color-scheme: dark)" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.11.1/styles/a11y-light.min.css" media="(prefers-color-scheme: light), (prefers-color-scheme: no-preference)" rel="stylesheet">
    {% endif %}
    {% if site.math_highlight.enabled %}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/katex@0.16.22/dist/katex.min.css">
    {% endif %}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.conditional.min.css">
    <link rel="stylesheet" href="/styles/default.css">
    {% if page.theme_props.canonical %}
    <link rel="canonical" href="{{ page.theme_props.canonical }}" />
    {% endif %}
    
</head>
<body>

{% include "header.html" %}

<main class="pico container">
    <div class="grid">
        <div>{% include "toc.html" %}</div>
        <div> </div>
        <div> </div>
    </div>
    
    {% block content %}
    {% endblock %}
</main>

{% include "footer.html" %}

{% block scripts %}
{% endblock %}

</body>
</html>